.join-perfil {
  font-size: 20px;
}

.title-description {
  font-size: 16px;
}

.description {
  ion-grid {
    font-size: 12px;

    .titulo_info {
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.recursos{
  width: 50px;
  border-radius: 5px;
}


