.join-perfil {
  font-size: 20px;
}

.title-description {
  font-size: 16px;
}

.description {
  span {
    padding-left: 15px;
  }

  .titulo_info {
    font-size: 14px;
    font-weight: 700;
    padding-right: 8px;
  }

}

.recursos{
  width: 50px;
  border-radius: 5px;
}
