.card-perfil {

  font-size: 14px;

  img {
    margin-bottom: 10px;
  }

  .contato_titulo {
    font-weight: 700;
    padding-bottom: 6px;
  }

  .contatos_info {
    font-weight: 300;
    padding-top: 6px;
  }

}
