<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Voltar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content_main">
    <div class="card-perfil">
      <img src={{contato.foto}}>

      <div class="contato_titulo">
        DADOS DO PROFISSIONAL
      </div>

      <div class="contatos_info">
        <ion-icon slot="start" name="person"></ion-icon>
        {{contato.nome}}
        <ion-icon slot="start" name="call"></ion-icon>
        {{contato.telefone}}
      </div>
      <div class="contatos_info">
        <ion-icon slot="start" name="mail"></ion-icon>
        {{contato.email}}
      </div>
      <div class="contatos_info">
        <ion-icon slot="start" name="id-card"></ion-icon>
        {{contato.habilitacao}}
      </div>

    </div>

    <ion-button expand="block" (click)="comentar()">Comentar</ion-button>
    <div class="comentarios">
      <ion-label>Comentários</ion-label>
      <ion-list>
        <ion-item *ngFor="let comentario of contato.comentario">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src={{comentario.usuario.foto}} />
          </ion-avatar>
          <div>
            <ion-label class="user">{{comentario.usuario.nome}}</ion-label>
            <div class="join">
              <app-rating [leitura]="true"></app-rating>
            </div>
            <ion-label class="comment">{{comentario.comentario}}</ion-label>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>

<ion-footer>
  <app-menu-tabs></app-menu-tabs>
</ion-footer>
